.form-control{
    box-shadow: none;
}
.form-control:focus{
    box-shadow:none !important;
}
input{margin-top: 15px !important;}
.register-form{
   padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background-color:white;
}
.register-parent{
    min-height: 100vh;
    background-color:aliceblue;
   
}

.register-parent .row{
    display: flex;
    align-items: center;
    }